/*  your css code here. If applicable */
li{
	list-style-type:none;
	text-align:left;
	
}
a{
	text-decoration-line:none;
	color:black;
}
#box{
	background-color:rgb(255, 255, 255);
	border:2px solid black;
	border-radius:5px;
	
}
body{
	background-color: rgb(204, 204, 204)
}

h1,h2{
	text-align:center;
	
}
.player{
	background-color: rgb(255, 255, 255); 
	border-radius:5px;
	border:2px solid black;
	margin-left:45px;
	margin-right:45px;
	padding-top:20px;
	padding-bottom:20px;
	
}
.player_one,.player_two{
	text-align:center;
	background-color: rgb(255, 255, 255);
}
.video,.audio{
	width:550px;
	
}
p{
	padding-left:30px;
}










